.dashboardRoutes {
	position: relative;
	left: 3.62rem;
    top: 3.6rem;
	// width: 95vw;
	// width: 96.8vw;
	width: calc(100vw - 4rem);
	height: calc(100vh - 4rem);
	@media screen and (max-width: 768px) {
		left: 0.3rem;
		// top: 4rem;
		position: static;
		padding-top: 3.5rem;
		overflow-x: hidden;
		width: auto;
	}
}
